## A streamlined .gitignore for modern .NET Console projects
## Targets build outputs, temporary files, and common .NET tooling artifacts.
## Suitable for Visual Studio 2026.
##
## For a full IDE-focused version:
## https://github.com/github/gitignore/blob/main/VisualStudio.gitignore
## Base reference:
## https://github.com/github/gitignore/blob/main/Dotnet.gitignore


############################
# Build results
############################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


############################
# Visual Studio files
############################
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates


############################
# .NET / SDK artifacts
############################
project.lock.json
project.fragment.lock.json
artifacts/


############################
# ASP.NET Scaffolding
############################
ScaffoldingReadMe.txt


############################
# NuGet
############################
*.nupkg
*.snupkg
.nuget/
packages/


############################
# Test & Coverage results
############################
CodeCoverage/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml


############################
# MSBuild logs
############################
*.binlog


############################
# NUnit
############################
*.VisualState.xml
TestResult.xml
nunit-*.xml


############################
# Temporary / backup files
############################
~$*
*~
*.tmp
*.bak
*.old
